.main-welcome {
	margin-block: 3rem;
	display: flex;
	flex-wrap: wrap-reverse;

	/* justify-content: space-between; */
	align-items: center;
}

.main-welcome .logo {
	flex: 1 1 35%;
	/* max-height: 9rem; */
}
.icon-logo {
	max-height: 20rem;
}

.main-welcome .text {
	flex: 1 1 55%;
	min-width: 19rem;

	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	justify-content: center;
}

.greetA {
	font-size: 2.5rem;
	margin: 0;
}
.greetB {
	font-size: 1.6rem;
	margin: 0;
}
